<div>
  <br />
  <h1>Band</h1>
  <br />
</div>

<div>
  <mat-dialog-actions>
    <button mat-raised-button (click)="AddNewBand()" class="btn btn-success">
      ADD NEW BAND
    </button>
  </mat-dialog-actions>
</div>

<div>
  <table scope="row">
    <!-- <tr> -->
    <thead class="table-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Created By</th>
        <th scope="col">Created Date</th>
        <th scope="col">Modified By</th>
        <th scope="col">Modified Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let band of bands" app-band [band]="band"></tr>
    </tbody>
  </table>
</div>
