<div class="container">
  <!-- <h2>Band Details</h2> -->
  <table class="table table-borderless">
    <tbody>
      <tr>
        <!-- <th>ID:</th> -->
        <td>{{ band?.id }}</td>
        <!-- <th>Name:</th> -->
        <td>{{ band?.name }}</td>
        <!-- <th>Start Date:</th> -->
        <td>{{ band?.startDate }}</td>
        <!-- <th>End Date:</th> -->
        <td>{{ band?.endDate }}</td>
        <!-- <th>Created By:</th> -->
        <td>{{ band?.createdBy }}</td>
        <!-- <th>Created Date:</th> -->
        <td>{{ band?.createdDate }}</td>
        <!-- <th>Modified By:</th> -->
        <td>{{ band?.modifiedBy }}</td>
        <!-- <th>Modified Date:</th> -->
        <td>{{ band?.modifiedDate }}</td>
      </tr>
    </tbody>
  </table>
</div>
