<td mat-button (click)="showData(band)">{{ this.band.id }}</td>
<td mat-button (click)="showData(band)">{{ this.band.name }}</td>
<td mat-button (click)="showData(band)">
  {{ this.band.startDate | date : "dd-MM-yyyy HH:mm:ss" }}
</td>
<td mat-button (click)="showData(band)">
  {{ this.band.endDate | date : "dd-MM-yyyy HH:mm:ss" }}
</td>
<td mat-button (click)="showData(band)">{{ this.band.createdBy }}</td>
<td mat-button (click)="showData(band)">
  {{ this.band.createdDate | date : "dd-MM-yyyy HH:mm:ss" }}
</td>
<td mat-button (click)="showData(band)">{{ this.band.modifiedBy }}</td>
<td mat-button (click)="showData(band)">
  {{ this.band.modifiedDate | date : "dd-MM-yyyy HH:mm:ss" }}
</td>
<td>
  <button
    (click)="deleteBandById(band.id)"
    class="btn btn-danger"
    style="margin-left: 10px"
  >
    Delete
  </button>
</td>

<!-- </tr> -->

<!--Template for popup and update -->
<!--This section defines an Angular template (ng-template) named dialogref for displaying a popup. It contains a form for updating band details with various input fields.--->
<ng-template #dialogref>
  <div mat-dialog-title>
    <h3 class="table-dark">Viewing Band : {{ this.data["name"] }}</h3>
  </div>
  <form (ngSubmit)="onSubmitUpdate(data)">
    <div mat-dialog-content>
      <!-- <h3>Viewing Band : [(this.dialogBoxData['name'])]</h3> -->

      <table id="Box">
        <tr>
          <td>ID</td>
          <td>{{ this.data["id"] }}</td>
        </tr>
        <tr>
          <td>Name</td>
          <td>{{ this.data["name"] }}</td>
        </tr>
        <tr>
          <td>StartDate</td>
          <input
            type="date"
            class="form-control"
            id="startDate"
            [(ngModel)]="band.startDate"
            name="startDate"
          />
          <div *ngIf="editForm.hasError('dateError', ['startDate'])">
            <p class="error-message">
              Error: Start date must be less than end date.
            </p>
          </div>
        </tr>

        <tr>
          <td>EndDate</td>
          <input
            type="date"
            class="form-control"
            id="endDate"
            [(ngModel)]="band.endDate"
            name="endDate"
          />
          <div *ngIf="editForm.hasError('dateError', ['endDate'])">
            <p class="error-message">
              Error: End date must be greater than start date.
            </p>
          </div>
        </tr>

        <tr>
          <td>CreatedBy</td>
          <td>{{ this.data["createdBy"] }}</td>
        </tr>
        <tr>
          <td>CreatedDate</td>
          <td>{{ this.data["createdDate"] }}</td>
        </tr>
        <tr>
          <td>ModifiedBy</td>
          <input
            type="text"
            class="form-control"
            id="modifiedBy"
            [(ngModel)]="band.modifiedBy"
            name="modifiedBy"
          />
        </tr>

        <tr>
          <td>ModifiedDate</td>
          <td>{{ this.data["modifiedDate"] }}</td>
        </tr>
      </table>
    </div>

    <div mat-dialog-actions>
      <!--mat-diaolog-close will close your dialog box no matter what value u assign to it --->
      <button
        class="btn-dark"
        mat-button
        type="submit"
        [mat-dialog-close]="true"
      >
        Submit
      </button>
      <button class="btn-dark" mat-button [mat-dialog-close]="true">
        Close
      </button>
    </div>
  </form>
</ng-template>

<!-- popup ADD btn  template-->

<ng-template #dialogBox>
  <div mat-dialog-title>
    <h3 class="table-dark">ADD Band</h3>
  </div>
  <form #bandForm="ngForm" (ngSubmit)="onSubmit()">
    <div mat-dialog-content>
      <div class="form-group">
        <label>Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="newBand.name"
          name="name"
          required
        />
      </div>

      <div class="form-group">
        <label>Start Date</label>
        <input
          type="date"
          class="form-control"
          id="startDate"
          [(ngModel)]="newBand.startDate"
          name="startDate"
          required
        />
      </div>

      <div class="form-group">
        <label>End Date</label>
        <input
          type="date"
          class="form-control"
          id="endDate"
          [(ngModel)]="newBand.endDate"
          name="endDate"
          required
        />
      </div>

      <div class="form-group">
        <label>Created By</label>
        <input
          type="text"
          class="form-control"
          id="createdBy"
          [(ngModel)]="newBand.createdBy"
          name="createdBy"
          required
        />
      </div>

      <div class="form-group">
        <label>Modified By</label>
        <input
          type="text"
          class="form-control"
          id="modifiedBy"
          [(ngModel)]="newBand.modifiedBy"
          name="modifiedBy"
          required
        />
      </div>

      <button class="btn btn-success" type="submit">Submit</button>
      <button class="btn-dark" mat-button [mat-dialog-close]="true">
        Close
      </button>
    </div>
  </form>
</ng-template>
